run.env
*.exe
*.a
*.log
.idea/*
.vscode/*
../../.gitignore.swp
../../.html
gotest_output.txt
gotest_dependencylog.txt
.cover
*.image.txt

#MacIgnores
**.DS_Store

*.iml
.idea
tags
Godeps/_workspace/
vendor
out